.toastContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}

@media (max-width: 768px) {
  .toastContainer {
    left: 0;
    right: 0;
    padding: 0 10px;
  }
}